
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Formulario</title>
		<link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<div class="resp"></div>

		<div class="menu fa-lg">
			<i class="fa fa-television fa-3x fa-stack-3x icone-btn" aria-hidden="true" style="color: rgba(99,155,255,0.9);"></i>
			<i class="fa fa-graduation-cap fa-stack-2x icone-btn" aria-hidden="true" style="color: rgba(48,96,130,1); "></i>
			<h1 style="color: rgba(48,96,130,1);">MeFormei</h4>
			<h3 style="color: rgba(48,96,130,1);">Projeto de processos de software</h3>

			<button class="btn btn-menu-turma btn-menu" type="button">
       			<i class="fa fa-graduation-cap icone-btn" aria-hidden="true" ></i>
        	</button>
        	<button class="btn btn-menu-alunos btn-menu" type="button">
       			<i class="fa fa-group icone-btn" aria-hidden="true" ></i>
        	</button>
        	<button class="btn btn-menu-homenageados btn-menu" type="button">
       			<i class="fa fa-university icone-btn" aria-hidden="true" ></i>
        	</button>
		</div>
		
		<form id="formulario" method="post" enctype="multipart/form-data" name="formulario" action="http://localhost:3000/aluno/nova">
		
		<fieldset class="fs2">
			<i class="fa fa-group icone-alunos" aria-hidden="true" ></i>
			<h2>Cadastro dos alunos</h2>
			<h3>Sobre o aluno</h3>

			<button class="btn btn-add btn-add-aluno" type="button">
	        	<i class="fa fa-plus icone-btn" aria-hidden="true" ></i>
	        </button>
			<div class="pivotAluno">
				<div class="input-group">
					<input type="text" name="nome" placeholder="&#xf007; Nome do aluno" required/>
					<br>
					Foto do aluno:
					<input type="file" name="foto" style="background: white" placeholder="&#xf1c5; Foto do aluno" required/>
					<input type="text" name="frase" placeholder="&#xf27b; Frase" required/>
					<input type="text" name="enfase" placeholder="enfase" required />
					Nome da turma:
					<select name="turma">
						<% for(var i=0; i< turmas.length; i++) {%>
							<option value="<%= turmas[i].id %>"> <%= turmas[i].id %> - <%= turmas[i].nome %> </option>
						<% } %>
					</select> <br>
					
					<button class="btn btn-remove" type="button">
		       		<i class="fa fa-times icone-btn" aria-hidden="true" ></i>
		        	</button>
				</div>
			</div>
			<button class="btn btn-add btn-add-aluno" type="button">
	        	<i class="fa fa-plus icone-btn" aria-hidden="true" ></i>
	        	<i class="fa fa-id-card-o icone-btn" aria-hidden="true" ></i>
	        </button>
			<input type="submit" name="next" class="acao" value="enviar" />
		</fieldset>
		</form>

		<script src="/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="/js/functions.js"></script>
	</body>
</html>
