<html>
	<head>
		<title>Cadastro de turmas</title>
	</head>

	<body>
		<form id="formulario" method="post" enctype="multipart/form-data" action="http://localhost:3000/turma/submit_new"><br>
			<input type="text" name="nome" placeholder="nome" /> <br>
			<input type="text" name="patrono" placeholder="patrono" /> <br>
			<input type="text" name="paraninfo" placeholder="paraninfo" /> <br>
			<input type="text" name="curso" placeholder="curso" /> <br>
			<input type="text" name="instituicao" placeholder="instituicao" /> <br>
			<input type="text" name="reitor" placeholder="reitor" /> <br>
			<input type="text" name="coordenador" placeholder="coordenador" /> <br>
			<input type="text" name="vice_coordenador" placeholder="vice-coordenador" /> <br>
			Foto da turma : <input type="file" name="foto"/> <br>
			<input type="submit" placeholder="cadastrar" />
		</form>	
	</body>
</html>