<html>
	<head>
		<title>Cadastro de turmas</title>
	</head>

	<body>
		<form id="formulario" method="post" enctype="multipart/form-data" action="http://localhost:3000/turma/nova"><br>
			<input type="text" name="nome" placeholder="nome" /> <br>
			<input type="text" name="patrono" placeholder="patrono" /> <br>
			<input type="text" name="paraninfo" placeholder="paraninfo" /> <br>
			<input type="text" name="curso" placeholder="curso" /> <br>
			<input type="text" name="instituicao" placeholder="instituicao" /> <br>
			<input type="text" name="reitor" placeholder="reitor" /> <br>
			<input type="text" name="coordenador" placeholder="coordenador" /> <br>
			<input type="text" name="vice_coordenador" placeholder="vice-coordenador" /> <br>
            Foto da turma : <input type="file" name="foto"/> <br>
            Musica:
            <select name="musica">
              <option value="bomberman-64.mp3">Bomberman64</option>
              <option value="disney-theme.mp3">Disney Theme</option>
              <option value="final-fantasy-victory.mp3">Final Fantasy Victory</option>
              <option value="movie-theme-star-wars.mp3">Star Wars Theme</option>
            </select> <br>			
            <input type="submit" placeholder="cadastrar" />
		</form>	
	</body>
</html>