<html>
	<head>
		<title>teste</title>
	</head>

	<body>
		<form id="formulario" method="post" enctype="multipart/form-data" name="formulario" "><br>
			<input type="text" name="nome" placeholder="nome" /> <br>
			<input type="text" name="frase" placeholder="frase" /> <br>
			<input type="text" name="enfase" placeholder="enfase" /> <br>
			<input type="text" name="turma" placeholder="turma" /> <br>
			<input type="text" name="foto" placeholder="foto so pra testar" /> <br>
			<input type="submit" placeholder="cadastrar" action = "localhost:3000/submit_new />
		</form>	
	</body>
</html>