<html>
	<head>
		<title>Cadastro de alunos</title>
	</head>

	<body>
		<form id="formulario" method="post" enctype="multipart/form-data" action="http://localhost:3000/aluno/nova"><br>
			<input type="text" name="nome" placeholder="nome" /> <br>
			<input type="text" name="frase" placeholder="frase" /> <br>
			<input type="text" name="enfase" placeholder="enfase" /> <br>
			<input type="text" name="turma" placeholder="turma" /> <br>
			Foto do aluno : <input type="file" name="foto"/> <br>
			<input type="submit" placeholder="cadastrar" />
		</form>	
	</body>
</html>