<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Formulario</title>
		<link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<div class="resp"></div>
		
		<form id="formulario" method="post" enctype="multipart/form-data" name="formulario" action="http://meformei.ddns.net/turma/submit_new">
		
		<fieldset class="fs2">
			<ul>
				<% for(var i=0; i< turmas.length; i++) {%>
					<a href="/turma/cad/<%= turmas[i].id %>">
   					<li><%= turmas[i].nome %></li>
   					<img src="<%= turmas[i].foto %>" width="320" height="205"></img>
				<% } %>
			</ul>
		</fieldset>
		</form>

		<script src="/js/jquery-2.2.4.min.js"></script>
		<script type="/text/javascript" src="js/functions.js"></script>
	</body>
</html>