*{margin: 0; padding: 0;}
html{
	height: 100%;
	background: -webkit-linear-gradient(rgba(99,155,255,0.9), rgba(95,205,228,0.9));
	background: -o-linear-gradient(rgba(99,155,255,0.9), rgba(95,205,228,0.9));
	background: -moz-linear-gradient(rgba(99,155,255,0.9), rgba(95,205,228,0.9));
	background: linear-gradient(rgba(99,155,255,0.9), rgba(95,205,228,0.9));
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.erros, .ok, .menu{
	width: 390px;
	padding: 5px;
	background: rgba(255, 255, 255, 0.9);
	margin: 20px auto 0 auto;
	border-radius: 4px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	box-sizing: border-box;
	text-align: center;
	font: 14px "Trebuchet MS", tahoma, arial;
	text-transform: uppercase;
}

.erros{
	border: 1px solid rgba(255, 50, 255, 0.9);
	color: rgba(255, 50, 255, 0.9);
}

.ok{
	border: 1px solid rgba(50, 255, 255, 0.9);
	color: rgba(50, 180, 180, 0.9);
}

body{
	font-family: "Trebuchet MS", tahoma, arial;
}

#formulario{
	width: 500px;
	margin: 40px auto;
 	text-align: center;
 	position: relative;
}
#formulario h2, #formulario h3{
	font:22px "Trebuchet MS", tahoma, arial;
	color:rgba(48,96,130,0.9);
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 4%;
}

#formulario h3{color:#333; font-size: 17px;}

#formulario fieldset{
	background: white;
	border: 0 none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;

	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: absolute;
}

#formulario fieldset:not(:first-of-type){
	display:none;
}

#formulario input, #formulario textarea, #formulario button, .menu button, #formulario select{
	padding: 10px;
	border: 1px solid rgba(38,128,101,0.9);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	width: 100%;
	font: 14px "Trebuchet MS", tahoma, arial, FontAwesome;
	color: #090;
	margin-bottom: 10px;
}
#formulario .input-group{
	background: rgba(240,240,250,0.9);
	border-bottom: 1px solid rgba(38,128,101,0.9);
	border-radius: 4px;
}
#formulario .acao, #formulario .btn-add, #formulario .btn-remove, .menu .btn-menu{
	width: 100px;
	background: #27ae60;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 5%;
	/*float: left;*/	
}
#formulario .btn-add{
	width: 100%;
}
#formulario .btn-remove{
	background:rgba(153,0,0,0.9);
	border: 1px solid rgba(199,0,57,0.9);
}
.menu .btn-menu{
	background: rgba(255,255,255,0.9);
	color: rgba(99,155,255,0.9);
	margin: 5px 5px 5px 5px;
}
#formulario .btn-remove:hover{background: #F00; cursor: pointer;}
#formulario .acao:hover, #formulario .btn-add:hover{background:#27ee60; cursor: pointer;}
.menu .btn-menu:hover{background:rgba(48,96,130,0.9); cursor: pointer; color: white;}

#formulario .icone-turma, #formulario .icone-alunos, #formulario .icone-professores{
	font-size: 32px;
	margin-bottom: 5px;
	color: rgba(48,96,130,0.9); 
}